/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --accent-color: #ff0070;
  --accent-color-title: #000028;
  --accent-color-text: #f1b2ce;
  --accent-color-section-title: var(--accent-color);
  --accent-color-button-active: var(--accent-color);
  --color-menu-list: var(--accent-color);
  --background-image: url(../images/cover-image-dark.png);
  --accent-color-header-title: #db00ff;
  --accent-color-shadow: var(--accent-color);
  --accent-color-title-decor: var(--accent-color);
  --color-content-text-title: var(--accent-color);
  --accent-color-hover: #ff007040;
  --color-link: var(--accent-color);
  --accent-color-decorated: var(--accent-color);
}

.page.theme_dark .header__rec {
  display: block;
}

@media (prefers-color-scheme: dark) {
  :root {
    --accent-color: #ff0070;
    --accent-color-title: #000028;
    --accent-color-text: #f1b2ce;
    --accent-color-section-title: var(--accent-color);
    --accent-color-button-active: var(--accent-color);
    --color-menu-list: var(--accent-color);
    --background-image: url(../images/cover-image-dark.png);
    --accent-color-header-title: #db00ff;
    --accent-color-shadow: var(--accent-color);
    --accent-color-title-decor: var(--accent-color);
    --color-content-text-title: var(--accent-color);
    --accent-color-hover: #ff007040;
    --color-link: var(--accent-color);
    --accent-color-decorated: var(--accent-color);
  }
  .header__rec {
    display: block;
  }
}
